// Define variables for your color scheme

// For example:
$red: #E1341E;
$green: #4DB25A;
$yellow: #FFD60A;
$black: #000000;
$light-gray: #F4F4F4;
$medium-gray: #737373;
$white: #FFFFFF;
$queuing: #FFD166;
$completed: #118AB2;
// $dining: #06D6A0;

$dining: #68B684;
$remove: #c63f3d;
$completed: #2E86AB;


.queuers-card-status {

  &.queuing {
    background-color: $queuing;
  }

  &.completed {
    background-color: $completed;
  }

  &.dining {
    background-color: $dining;
  }

  &.remove {
    background-color: $remove;
  }

}

.btn-action {

  &.queuing {
    background-color: $queuing;
  }

  &.completed {
    background-color: $completed;
  }

  &.dining {
    background-color: $dining;
  }

  &.remove {
    background-color: $remove;
  }

}
