// Define variables for your color scheme

// For example:
$red: #E1341E;
$green: #4DB25A;
$yellow: #FFD60A;
$black: #000000;
$light-gray: #F4F4F4;
<<<<<<< HEAD

.status {
  color: white;

  &.queuing {
    background-color: orange;
  }

  &.dining {
    background-color: #1EDD88;
  }

  &.completed {
    background-color: red;
  }

}
=======
$white: #FFFFFF;
>>>>>>> master
