.dashboard-owner {
  background-color: #F5F5F5;
  height: 320px;
  border-radius: 10px;


  .dashboard-owner-options {
    height: 100px;
    width: 100px;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 1px solid black;
    margin: 8px;
    text-align: center;
    padding-top: 28px;
  }
}

.live-queue {
  height: 320px;
  flex-direction: column;
  display: flex;

  .show-next-queuer {
    background-color: #F5F5F5;
    border-radius: 10px;
    background-color: #F5F5F5;
    height: 320px;
    width: 100%;
    padding-top: 8px;
    padding-left: 8px;
  }
}

.next-queuer-actions {
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-top: 80px;
  text-align: center;

  .queuer-action-remove {
    background-color: #E1341E;
    height: 100px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 8px;
    padding-top: 24px;
  }

  .queuer-action-notify {
    background-color: #4DB25A;
    height: 100px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 8px;
    padding-top: 24px;
  }

  i {
    font-size: 36px;
  }
}

.analytics {
  background-color: #F5F5F5;
  height: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px;

  h3 {
    margin: 8px;
  }
}

.nav-img {
  background-image: url("Dotted-Bee-Trail-Path-Clipart-PNG.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  h3 {
    text-align: center;
    border-bottom: 1px solid black;
  }
}
