body {
  background-color: white;
}

.dashboard-owner {
  background-color: #F5F5F5;
  height: 320px;
  border-radius: 10px;

  .dashboard-owner-options {
    height: 100px;
    width: 100px;
    background-color: #D9D9D9;
    border-radius: 10px;
    border: 1px solid black;
    margin: 8px;
  }
}

.live-queue {
  height: 320px;
  flex-direction: column;
  display: flex;

  .show-next-queuer {
    background-color: #F5F5F5;
    border-radius: 10px;
    background-color: #F5F5F5;
    height: 320px;
    width: 100%;
  }
}

.next-queuer-actions {
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .queuer-action-remove {
    background-color: #E1341E;
    height: 100px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 8px;
  }

  .queuer-action-notify {
    background-color: #4DB25A;
    height: 100px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 8px;
  }
}

.analytics {
  background-color: #F5F5F5;
  height: 320px;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 10px;

  h3 {
    margin: 8px;
  }
}
