<div class="container">
  <h1 class="my-5 text-center">Join a Queue</h1>
  <div class="row justify-content-center my-5">
    <div class="col-6">
      <%= simple_form_for [@restaurant, @queuer] do |f| %>
        <%= f.input :reservation_name, label: false, input_html: { value: @username }  %>
        <%= f.input :size, label: false, placeholder: "How many are you in your party?" %>
        <%= f.submit "Join the queue" , class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
