<div class="restaurant-name-container shadow">
  <h1><%= @restaurant.name  %></h1>
</div>

<div class="title-container">
  <h1>You're In The Queue!</h1>
</div>

<div class="info-card-container">
  <div class="info-card">
  <p>Place In The Queue:</p>
  <%= @queue.size %>
  </div>
  <div class="info-card">

  <p>Wait Time Remaining:</p>
  </div>
  <div class="info-card">
  <p>People In The Queue:</p>
    <%= @number_of_people %>
  </div>
</div>
<div class="title-container">
  <h3>Estimated Dining Time:</h3>
</div>

<div class="d-flex justify-content-center">
  <a href="" class="btn">Leave Queue</a>
</div>
