<section>
  <h3>Recommended Restaurants</h3>
  <!-- Flexbox wrapper for restaurant cards -->
  <div class="restaurants-wrapper">

    <% @recommended_restaurants.each do |restaurant| %>  <!--Start iteration -->
      <%= render "pages/restaurant_card", restaurant: restaurant %>
    <% end %> <!-- End iteration -->
  </div>
</section>
