<section class="py-4">
  <h3 style="text-transform: uppercase;">You may also like</h3>
  <!-- Flexbox wrapper for restaurant cards -->
  <div class="restaurants-wrapper">

    <% @recommended_restaurants.each do |restaurant| %>  <!--Start iteration -->
      <%= render "pages/restaurant_card", restaurant: restaurant %>
    <% end %> <!-- End iteration -->
  </div>
</section>
