<div class="container dashboard-wrapper pt-5">
  <div class="row">
    <div class="dashboard-owner col-8">
      <h3 class="pt-4">Dashboard</h3>
      <div class="row align-items-center">
        <div class="col dashboard-owner-options">Queue Managament</div>
        <div class="col dashboard-owner-options">Queue Analytics</div>
        <div class="col dashboard-owner-options">Discount and Offers</div>
      </div>
      <div class="row align-items-center">
        <div class="col dashboard-owner-options">Restaurant Details</div>
        <div class="col dashboard-owner-options">Queue History</div>
        <div class="col dashboard-owner-options">Ratings</div>
      </div>
    </div>
    <div class="live-queue col-4">
      <div class="actions">
        <i class="fas fa-toggle-on"></i>
        <i class="fas fa-plus"></i>
      </div>
      <div class="next-queuer">
        <p>Next Queuer: </p>
        <p>Size: </p>
      </div>
    </div>
  </div>
</div>
