<div class="container pt-5 dashboard-wrapper">
  <div class="row">
    <div class="col-8 dashboard-owner">
      <h3 class="pt-4">Dashboard</h3>
      <div class="row align-items-center">
                <div class="col dashboard-owner-options"><p><%= link_to "Queue Managament", queuers_path %></p></div>
        <div class="col dashboard-owner-options"><p>Queue Analytics</p></div>
        <div class="col dashboard-owner-options"><p>Discount and Offers</p></div>
      </div>
      <div class="row align-items-center">
        <div class="col dashboard-owner-options"><p>Restaurant Details</p></div>
        <div class="col dashboard-owner-options"><p>Queue History</p></div>
        <div class="col dashboard-owner-options"><p>Ratings</p></div>
      </div>
    </div>
    <!-- Live Queue-->
    <div class="col-4 live-queue">
      <div class="show-next-queuer">
        <% if @next_queuer.present? %>
          <p>Next Queuer: <%= @next_queuer.reservation_name %></p>
          <p>Size: <%= @next_queuer.size %></p>
        <% else %>
          <p>No queuers in queue</p>
        <% end %>
        <div class="next-queuer-actions">
        </div>
      </div>
    </div>
  </div>

  <div class="container analytics">
    <h3 class="pt-4">Queuer Analytics</h3>
    <div class="chart" >
      <%= line_chart Queuer.group_by_day(:created_at).count, width: "100%", height: "240px", colors: ["pink"], empty: "No data", download: true %>
    </div>
</div>
