<div class="container pt-5 dashboard-wrapper">
  <div class="row">
    <div class="col-8 dashboard-owner">
      <h3 class="pt-4">Dashboard</h3>
      <div class="row align-items-center">
        <div class="col dashboard-owner-options">Queue Managament</div>
        <div class="col dashboard-owner-options">Queue Analytics</div>
        <div class="col dashboard-owner-options">Discount and Offers</div>
      </div>
      <div class="row align-items-center">
        <div class="col dashboard-owner-options">Restaurant Details</div>
        <div class="col dashboard-owner-options">Queue History</div>
        <div class="col dashboard-owner-options">Ratings</div>
      </div>
    </div>
    <div class="col-4 live-queue">
      <div class="align-self-end show-next-queuer">
        <p>Next Queuer: <%= @queuer.name if @queuer.present? %> </p>
        <p>Size: <%= @queuer.size if @queuer.present? %></p>
      </div>
    </div>
  </div>

  <div class="container analytics">
    <h3 class="pt-4">Queuer Analytics</h3>
  </div>
</div>
