/* restaurant show page */
.restaurant-name-container {
  align-items: center;
  display: flex;
  text-align: center;
  height: 80px;
  justify-content: center;
  width: 1000px;
  margin: auto;
  background-color: lightgray;
  border-radius: 20px;
  margin-top: 10px;
}

/* restaurant show page */
.title-container {
  text-align: center;
  margin: 30px;
  justify-content: space-evenly;
}

/* restaurant show page */
.info-card-container {
  display: flex;
  width: 100%;
  margin-bottom: 2em;
  justify-content: space-evenly ;
}

/* restaurant show page */
.info-card {
  border: 1px solid black;
  width: 300px;
  height: 80px;
  text-transform: uppercase;
  // justify-content: center;
  text-align: center;
  background-color: $yellow;
  border-radius: 10px;
}

.restaurant-stat-container {
  display: flex;
  justify-content: space-between;
}

.stat-card {
  width: 72px;
  height: 90px;
  background-color: $yellow;
  border-radius: 16px;
  text-align: center;
  vertical-align: middle;
}

.stat-info {
  margin-top: 2.5px;

  p {
    font-size: small;
    font-weight: 400;
  }
}
