/* restaurant show page */
.restaurant-name-container {
  align-items: center;
  display: flex;
  text-align: center;
  height: 80px;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  border-radius: 20px;
  margin-top: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}
.restaurant-title-container {
  background-color: #ffffff;
  border: 1px solid transparent;
  opacity: 0.6;
  align-items: center;
  display: flex;
  text-align: center;
  height: 100%;
  width: 100%;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  border-radius: 20px;
  h1 {
    font-weight: bold;
  }
}




/* restaurant show page */
.title-container {
  text-align: center;
  margin: 30px;
  justify-content: space-evenly;
}

/* restaurant show page */
.info-card-container {
  display: flex;
  width: 100%;
  margin-bottom: 2em;
  justify-content: space-evenly ;
}

/* restaurant show page */
.info-card {
  border: 1px solid black;
  // width: 300px;
  max-width: fit-content;
  min-width: 90px;
  // height: 80px;
  max-height: fit-content;
  text-transform: uppercase;
  padding: 5px;
  // justify-content: center;
  text-align: center;
  background-color: $yellow;
  border-radius: 10px;
  @media (max-width: 992px)  {

    p {
        display: none;
        // Other styles here
    }
  }
  h3 {
    font-weight: 600;
  }

}

.icon-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.dining-time-container {
  display: flex;
  width: 100%;
  margin-bottom: 2em;
  justify-content: space-evenly ;
}
.dining-card {
  max-width: fit-content;
  // height: 80px;
  max-height: fit-content;
  min-width: 250px;
  text-transform: uppercase;
  padding: 5px;
  // justify-content: center;
  text-align: center;
  h3 {
    padding-top: 2px;
  }
}

.restaurant-stat-container {
  display: flex;
  justify-content: space-between;
}

.stat-card {
  width: 72px;
  height: 90px;
  // background-color: $yellow;
  border-radius: 16px;
  text-align: center;
  vertical-align: middle;
}

.active-card {
  width: 72px;
  height: 90px;
  background-color: $yellow;
  border-radius: 16px;
  text-align: center;
  vertical-align: middle;

  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-around;

  // background: $black;
  // color: $white;
  // border-radius: 16px;
  // padding: 0.5em;
  // min-width: 65px;
}

.stat-info {
  margin-top: 2.5px;

  p {
    font-size: small;
    font-weight: 400;
  }
}

html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      .swiper {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        // border-radius: 10px;
        // background-size: contain;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        // border-radius: 10px;
        // background-size: cover;

      }
