.restaurant-name-container {
  align-items: center;
  display: flex;
  text-align: center;
  height: 80px;
  justify-content: center;
  width: 1000px;
  margin: auto;
  background-color: lightgray;
  border-radius: 20px;
  margin-top: 10px;
}

.title-container {
  text-align: center;
  margin: 30px;
  justify-content: space-evenly;
}

.info-card-container {
  display: flex;
  width: 100%;
  margin-bottom: 2em;
}

.info-card {
  border: 1px solid transparent;
  border-radius: 20px 0px 0 20px;
  width: 300px;
  text-transform: uppercase;
  justify-content: center;
  flex-grow: 1;
  text-align: center;

}
