// user navbar

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 130px;
}

// owner navbar
.navbar-owner {
  align-items: center;
  background: #FFD60A;
}

.navbar-owner .navbar-collapse {
  flex-grow: 0;
}

.navbar-owner .navbar-brand img {
  width: 130px;
}

.actions {
  padding: 0 8px;
}

.queue-status {
  height: 100px;
  font-size: 50px;
  padding-top: 12px;
  padding-right: 16px;
  }

.add-queuer {
  font-size: 50px;
}
