// user navbar

.navbar-main {
  justify-content: space-between;
  background: white;
  margin-bottom: 3em;
  background-image: asset_url("navbar-bg-right.png");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 275px;
  padding: 0 1.5em;
}

.navbar-main .navbar-collapse {
  flex-grow: 0;
}

.navbar-main .navbar-brand img {
  width: 330px;
}

.navbar-right {
  display: flex;
  align-items: center;
}


.user-queue {
  border-radius: 10px;
  padding: 0.5em 1em;

  &.queued {
    background: $yellow;
  }

  &.notqueued {
    background: $light-gray;
  }

}



// owner navbar
.navbar-owner {
  align-items: center;
  background: #FFD60A;
  width: 100%;
  display: flex;
  @media (max-width: 576px)  {
    .form-switch {
      padding-left: 0px !important;
    }
    .form-check {
      margin-bottom: 0px !important;
    }
    .queue-status {
      padding-bottom: 0px !important;
      padding-right: 0px !important;
    }
    .add-queuer {
      padding-right: 5px !important;
    }
  }
}

.queuers {
  width: 80%;
  position: relative;
}


.navbar-owner .navbar-collapse {
  flex-grow: 0;
}


.navbar-owner .navbar-brand img {
  width: 100px;
  padding-left: 8px;
}

.actions {
}

.queue-status {
  font-size: 42px;
  padding-bottom: 4px;
  padding-right: 24px;
  }

.add-queuer {
  font-size: 40px;
  padding-right: 24px;
}
